{% extends 'socialdist/base.html' %}
{% block title %} {{author}}'s Profile{% endblock %}

{% load markdown_extras %}
{% load templatefilter %}

{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>{{request.user.username}}</span></div><br><br><br>
  <div class = "sidebar-links">
    <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>
    <br>
    <a class="mini-links" href="{% url 'feed' %}"> Feed </a>
    <br>
    <a class="mini-links" href="{% url 'friends_feed' %}"> Friends Feed </a>
    <br>
    <a class="mini-links" href="{% url 'author_profile' user.id %}"> Profile </a>
    <br>
    <a class="mini-links" href="{% url 'unlisted_posts' %}"> Unlisted </a>
    <br>
    <a class="mini-links" href="{% url 'friends' user.id %}"> Friends </a>
    <br>

    <a class="mini-links" href="{% url 'user_settings' %}"> Settings </a><br>
    <a class="mini-links" href="{% url 'logout' %}"> Logout </a>

  </div>

  </div>

  <div class="feed-section">
    <span class="align-middle" style="color:black">
      {{author}}
      </span>
      <br>
      {% if origin == 'host' %}
    Friends: <a href="/author/{{author_id}}}}/friends/">{{friends_count}}</a>
    <br>
    <br>
      {% if request.user.username != author %}
        {% if not friend_status %}
            {% if not friend_request_status %}
                <a href="/send_friend_request/{{author_id}}/"><input onclick="friendToggle()" type="button" value="+ Send friend request" id="friend-button"></input></a> <br> <br>
            {% else %}
                <a href="/cancel_friend_request/{{author_id}}/"><input onclick="cancelRequestToggle()" type="button" value="- Cancel friend request" id="cancel-button"></input></a> <br> <br>
            {% endif %}
        {% else %}
          <a href="/unfriend/{{author_id}}/"><input onclick="unfriendToggle()" type="button" value=">< Friends" id="unfriend-button"></input></a> <br> <br>
        {% endif %}
      {% endif %}
      {% endif %}

      <br>
      <br>

      <div class="col-md-6">
        {% for post, likes in posts.items %}
          <div class="posts">
                  <p>
                    <em>
                      @<a href="{% url 'author_profile' post.author.id %}" style="color:#88e ">{{ post.author.username }}</a>

                    </em>
                    {% if likes == -1 %}
                    <span style="color:rgba(34, 167, 240, 1); font-size:1.3em; cursor:pointer" title="Post from another server: {{post.origin}}">☁</span>
                    {% endif %}

                    {{ post.description | markdown |safe}}
                    <small style="color:#add8e6; font-family:calibri; padding-right:45px">
                      {{ post.published }}
                    </small>

                    {% if likes >= 0 %}
                    <small style="color:#add8e6; font-family:calibri; padding-right:45px">
                      {{ likes }} likes
                    </small>
                    <a href="{% url 'view_post' post.id %}">
                      <div class="btn btn-primary">🗩 Comments</div>
                    </a>
                 {% if not post_liked|get_item:post %}
                  <a href="/like/{{post.id}}/">
                    <input onclick="likeToggle()" type="button" value="❤ Like" id="like-button" class="btn btn-primary"></input>
                  </a>
                  {% else %}


                            <a href="/unlike/{{post.id}}/">
                              <input onclick="unlikeToggle()" type="button" value="❤ Liked" id="unlike-button"
                                class="btn btn-primary"></input>
                            </a>
                            {% endif %}
                            {% if not post_shared|get_item:post %}
                            <a href="/share/{{post.id}}/">
                              <input onclick="shareToggle()" type="button" value="🚀 Share" id="share-button"
                                class="btn btn-primary"></input> </a>
                            {% else %}
                            <a href="/unshare/{{post.id}}/">
                              <input onclick="unshareToggle()" type="button" value="🚀 Shared" id="share-button"
                                class="btn btn-primary"></input>
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}

                      </div>

                    </div>
                    
                  </div>

                  <div class="sidebar-right">
                    {% if git_user %}
                    <br>
                    {% for event in git_user %}
                    <div class="sidebar-right-links">
                    <p>{{ event.type }} to <br>{{event.repo.name}} at <br>{{ event.created_at }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div> 
{% endblock %}
