{% extends 'socialdist/base.html' %}
{% block title %}Post{% endblock %}
{% block content %}

<!-- from Ahmet Aksungur (https://codepen.io/ahmetaksungur) at https://codepen.io/ahmetaksungur/pen/MWaVxyd  -->
<!-- <form method="post">
{% csrf_token %}
{{ form.as_p }}
<label class="ui-form-input-container">
  <div class="outer-container">
<textarea class="ui-form-input" placeholder="How are you doing today?">
</textarea>
<div class="button-div">
  <div class="switch">
<input id="switch-it" type="checkbox" class="switch-input" />
<label for="switch-it" class="switch-label"></label>
  </div>
  Unlisted Post
  <div class="dropdown">
<button onclick="privacy_controls()" class="dropbtn">&#x2699 Post Privacy</button>
<div id="myDropdown" class="dropdown-content">
<a href="#">Public</a>
<a href="#">Friends</a>
<a href="#">Only Me</a>
</div>
</div>
  <button class="submitbtn" type="submit"> Submit </button>

</div>
  </div>

</label>
</form> -->

<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>{{request.user.username}}</span></div>
  <div class = "sidebar-links"></div>
  </div>
    <div class="feed-section">
        <span>New Post</span>
<div class="post-body">

  <form action="{% url 'create_post' %} " method="post">
              {% csrf_token %}
              {{ form }}
              <br>
    <input type="submit" value="Create post" id="submitbtn"/>
  </form>

</div>
</div>
</div>

{% endblock content %}
