{% extends 'socialdist/base.html' %} {% block title %}Post{% endblock %} {%block content %} {% load bootstrap4 %}

<div class="fade-bg">
  <div class="sidebar">
    <div class="photo"></div>
    <div class="name">
      Welcome back <br />
      <span>{{user.username}}</span>
    </div>
    <br /><br /><br />
    <div class="sidebar-links">
      <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>
      <br>
      <a class="mini-links" href="{% url 'feed' %}"> Feed </a>
      <br>
      <a class="mini-links" href="{% url 'author_profile' user.id %}"> Profile </a>
      <br>
      <a class="mini-links" href="{% url 'unlisted_posts' %}"> Unlisted </a>
      <br>
      <a class="mini-links" href="{% url 'followers' user.id %}"> Followers </a>
      <br>

      <a class="mini-links" href="{% url 'user_settings' %}"> Settings </a><br>
      <a class="mini-links" href="{% url 'logout' %}"> Logout </a>
    </div>
  </div>
  <div class="feed-section">
    <span>New Post</span>
    <div class="post-body">
      <form action="{% url 'create_post' %} " method="post">
        <div class ="col-md-6">
        {% csrf_token %} {% bootstrap_form  form %} {% buttons %}
        <input type="submit" value="Create post" id="submitbtn" />
        {% endbuttons %}
        </div>
      </form>
    </div>
  </div>

  {% endblock content %}
</div>
