{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% load markdown_extras %}
{% block content %}
{% load bootstrap4 %}

<div class='fade-bg'>
  <div class="sidebar">
    <div class="photo"></div>
    <div class="name">Welcome back <br> <span>{{user.username}}</span></div><br><br><br>
    <div class="sidebar-links">
      <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>
      <br>
      <a class="mini-links" href="{% url 'feed' %}"> Feed </a>
      <br>
      <a class="mini-links" href="{% url 'author_profile' user.id %}"> Profile </a>
      <br>
      <a class="mini-links" href="{% url 'unlisted_posts' %}"> Unlisted </a>
      <br>
      <a class="mini-links" href="{% url 'friends' user.id %}"> Friends </a>
      <br>

      <a class="mini-links" href="{% url 'user_settings' %}"> Settings </a><br>
      <a class="mini-links" href="{% url 'logout' %}"> Logout </a>

    </div>

  </div>


  <div class="feed-section">
    <div class="friend_request_section" id="accordion">
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#requests">Friend Requests: {{friend_requests|length}}</button>
      <br>
      <br>
      <div id="requests" class="collapse">
        <div class="col-md-6">
          {% for friend_request in friend_requests %}
          <div class="friend-requests">
            <p id="request-title">{{friend_request.from_author.username}} wants to follow {{friend_request.to_author.username}}</p>
            <a href="/accept_friend_request/{{friend_request.id}}/">
              <input onclick="acceptRequestToggle()" type="button" value="+ Accept" id="accept-button" class="btn btn-primary"></input>
            </a>
            <a href="/reject_friend_request/{{friend_request.id}}/">
              <input onclick="rejectRequestToggle()" type="button" value=">< Reject" id="reject-button" class="btn btn-primary"></input>
            </a>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
    <span>Feed</span>
    <br>
    <br>
    <div class="col-md-6">
      {% for post, likes in posts.items %}

      <div class="posts">
        <p>
          <em>
            @<a href="{% url 'author_profile' post.author.id %}" style="color:#88e ">{{ post.author.username }}</a></em>
            {% if likes == -1 %}
            <span style="color:rgba(34, 167, 240, 1); font-size:1.3em; cursor:pointer" title="Post from another server: {{post.origin}}">☁</span>
            {% endif %}
            <p id="post-title">
            {{post.title}}</p>
           {% if post.categories == 'text/markdown' %}
            <span class = "post" style="color:black; background-color: blueviolet;">{{ post.description | markdown |safe}}</span>
          {% endif %}
          {% if post.categories == 'text/image' %}
            <br>
            <img style="max-width: 800px; max-height: 600px" src="{{ post.description }}"/>
            <br>
          {% else %}
            <br>
            {{post.description}}
            <br>
          {% endif %}
            <small style="color:#add8e6; font-family:calibri; padding-right:45px">
              {{ post.published }}
            </small>
          {% if likes >= 0 %}
          <small style="color:#add8e6; font-family:calibri; padding-right:45px">
            {{ likes }} likes
          </small>
          <a href="{% url 'view_post' post.id %}">
            <div class="btn btn-primary">🗩 Comments</div>
          </a>


          {% if not post_liked|get_item:post %}
          <a href="/like/{{post.id}}/">
            <input onclick="likeToggle()" type="button" value="❤ Like" id="like-button" class="btn btn-primary"></input>
          </a>
          {% else %}



          <a href="/unlike/{{post.id}}/">
            <input onclick="unlikeToggle()" type="button" value="❤ Liked" id="unlike-button"
              class="btn btn-primary"></input>
          </a>
          {% endif %}
          {% if not post_shared|get_item:post %}
          <a href="/share/{{post.id}}/">
            <input onclick="shareToggle()" type="button" value="🚀 Share" id="share-button"
              class="btn btn-primary"></input> </a>
          {% else %}
          <a href="/unshare/{{post.id}}/">
            <input onclick="unshareToggle()" type="button" value="🚀 Shared" id="share-button"
              class="btn btn-primary"></input>
          </a>
          {% endif %}
          {% endif %}
      </div>


      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}
