{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>Robin Gale</span></div>
  <div class = "sidebar-links">
  <p><a class="mini-links" href="{% url 'feed' %}"> Feed </a></p>
    <p><a class="mini-links" href="#"> Unlisted </a>  </p>
  <a class="mini-links"href="#"> Friends </a><br>
  <a class="mini-links"href="{% url 'image_upload' %}"> Profile </a><br>
  <a class="mini-links" href="{% url 'logout' %}"> Logout </a>
  </div>

  </div>

  <div class="feed-section">
    <span>Feed</span>
    <!-- from Ahmet Aksungur (https://codepen.io/ahmetaksungur) at https://codepen.io/ahmetaksungur/pen/MWaVxyd  -->

    <label class="ui-form-input-container">
      <div class="outer-container">
    <textarea class="ui-form-input" placeholder="How are you doing today?">
    </textarea>
    <div class="button-div">
      <div class="switch">
    <input id="switch-it" type="checkbox" class="switch-input" />
    <label for="switch-it" class="switch-label"></label>
      </div>
      Unlisted Post
      <div class="dropdown">
  <button onclick="privacy_controls()" class="dropbtn">&#x2699 Post Privacy</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Public</a>
    <a href="#">Friends</a>
    <a href="#">Only Me</a>
  </div>
</div>
      <button class="submitbtn"> Submit </button>

    </div>
      </div>

  </label>
</div>

</div>
{% endblock %}
