{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>Robin Gale</span></div>
  </div>

  <div class="feed-section">
    <span>Feed</span>
    <!-- from Ahmet Aksungur (https://codepen.io/ahmetaksungur) at https://codepen.io/ahmetaksungur/pen/MWaVxyd  -->

    <label class="ui-form-input-container">
    <textarea class="ui-form-input" placeholder="How are you doing today?">
    </textarea>
    <div class="button-div">
      <button> Submit </button>

    </div>
  </label>
</div>

</div>
{% endblock %}
