{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% load markdown_extras %}
{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>{{user.username}}</span></div><br><br><br>
  <div class = "sidebar-links">
    <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>

  <p><a class="mini-links" href="{% url 'feed' %}"> Feed </a></p>
    <a class="mini-links"href="{% url 'author_profile' user.id %}"> Profile </a><br>
    <p><a class="mini-links" href= "#"> Unlisted </a>  </p>
  <a class="mini-links"href="{% url 'followers' user.id %}"> Followers </a><br>

  <a class="mini-links"href="{% url 'user_settings' %}"> Settings </a><br>
  <a class="mini-links" href="{% url 'logout' %}"> Logout </a>

  </div>

  </div>

  <div class="feed-section">
    <span>{{author}}'s Followers</span>
    <br>
    <br>



<div class="posts col-md-6">
  {% if not followers%}
  No followers yet!
  {%endif%}
  {% for follower in followers %}
            <p><em>@<a href="{% url 'author_profile' follower.id %}">{{ follower.username }}</a></em></p>
        {% endfor %}</div>
</div>

</div>
{% endblock %}
