{% extends 'socialdist/base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
<div class='pretty-bg'>
  <div class="hermes-big">Hermes</div>
  <div class='big-marker'></div>
  <div class="friendly-reminder"> your friendly neighbourhood social network </div>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p> <a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <div class="link-box"><a href="{% url 'login' %}">Log In</a></div>
  <br>
  <div class="link-box link-box-noncolor"><a href="{% url 'signup' %}">Sign Up</a></div>

{% endif %}
</div>
{% endblock %}
