{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% load markdown_extras %}
{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>{{user.username}}</span></div><br><br><br>
  <div class = "sidebar-links">
    <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>

  <p><a class="mini-links" href="{% url 'feed' %}"> Feed </a></p>
    <a class="mini-links"href="{% url 'author_profile' user.id %}"> Profile </a><br>
    <p><a class="mini-links" href= "#"> Unlisted </a>  </p>
  <a class="mini-links"href="{% url 'followers' user.id %}"> Followers </a><br>

  <a class="mini-links"href="{% url 'user_settings' %}"> Settings </a><br>
  <a class="mini-links" href="{% url 'logout' %}"> Logout </a>

  </div>

  </div>

  <div class="feed-section">
    <span>Unlisted Posts</span>
    <br>
    <br>
<div class="col-md-6">
  {% for post, likes in posts.items %}
    <div class="posts">
            <p>
              <em>
                @<a href="{% url 'author_profile' post.author.id %}" style="color:#88e ">{{ post.author.username }}</a>
              </em>
              {{ post.description | markdown |safe}}
              <small style="color:#add8e6; font-family:calibri; padding-right:45px" >

                {{ post.published|date:"SHORT_DATETIME_FORMAT" }}
                {{ likes }} likes

            </small>

           <a href="{% url 'view_post' post.id %}"> <div class="btn btn-primary">🗩 Comments</div> </a>
           {% if not post_liked|get_item:post %}
            <a href="/like/{{post.id}}/">
              <input onclick="likeToggle()" type="button" value="❤ Like" id="like-button" class="btn btn-primary"></input>
            </a>
            {% else %}
    <a href="/unlike/{{post.id}}/">
      <input onclick="unlikeToggle()" type="button" value="❤ Liked" id="unlike-button" class="btn btn-primary"></input>
    </a>
  {% endif %}
           </div>
  {% endfor %}
</div>

</div>

</div>
{% endblock %}
