{% extends 'socialdist/base.html' %}
{% block title %}Feed{% endblock %}
{% load markdown_extras %}
{% load base %}
{% load templatefilter%}



{% block content %}
<div class='fade-bg'>
<div class="sidebar">
  <div class="photo"></div>
  <div class="name">Welcome back <br> <span>{{user.username}}</span></div><br><br><br>
  <div class = "sidebar-links">
    <a class="mini-links" href="{% url 'create_post' %}"> Create Post</a>
    <br>
    <a class="mini-links" href="{% url 'feed' %}"> Feed </a>
    <br>
    <a class="mini-links" href="{% url 'friends_feed' %}"> Friends Feed </a>
    <br>
    <a class="mini-links" href="{% url 'author_profile' user.id %}"> Profile </a>
    <br>
    <a class="mini-links" href="{% url 'unlisted_posts' %}"> Unlisted </a>
    <br>
    <a class="mini-links" href="{% url 'friends' user.id %}"> Friends </a>
    <br>
    <a class="mini-links" href="{% url 'user_settings' %}"> Settings </a><br>
    <a class="mini-links" href="{% url 'logout' %}"> Logout </a>
  </div>
  </div>
  <div class="feed-section">
    <br>
    <br>
<div class="col-md-6">
    <div class="posts">
      <p>
        <em>
          @<a href="{% url 'author_profile' post.author.id %}" style="color:#88e ">{{ post.author.username }}</a>
        </em></p>
        <span class ="post-title">{{post.title}}</span>
        {% if post.categories == 'text/markdown' %}
          <span class = "post" style="color:black; background-color: blueviolet;">{{ post.description | custom_markdown }}</span>
        {% endif %}
        {% if post.categories == 'image/png' %}
          <br>
          <img style="max-width: 800px; max-height: 600px;" src="data:image/png;base64,{{ post.description }}">
          <!-- <img style="max-width: 800px; max-height: 600px" src="{{ post.description }}"/> -->
          <br>
        {% endif %}
        {% if post.categories == 'image/jpeg' %}
          <br>
          <img style="max-width: 800px; max-height: 600px;" src="data:image/jpeg;base64,{{ post.description }}">
          <!-- <img style="max-width: 800px; max-height: 600px" src="{{ post.description }}"/> -->
          <br>
        {% endif %}
        {% if post.categories == 'text/plain' %}
          <div style="font-family:Gotham-Light; font-size:0.7em">{{ post.description  }}</div>
        {% endif %}
              <small style="color:#add8e6; font-family:calibri; padding-right:45px" >
                {{ post.published|date:"SHORT_DATETIME_FORMAT" }}
                {{ likes_count }} likes
            </small>
           {% if not liked %}
            <a href="/like/{{post.id}}/">
              <input onclick="likeToggle()" type="button" value="❤ Like" id="like-button" class="btn btn-primary"></input>
            </a>
            {% else %}
    <a href="/unlike/{{post.id}}/">
      <input onclick="unlikeToggle()" type="button" value="❤ Liked" id="unlike-button" class="btn btn-primary"></input>
    </a>
  {% endif %}
  {% if not post_shared %}
 <a href="/share/{{post.id}}/">
   <input onclick="shareToggle()" type="button" value="🚀 Share" id ="share-button" class="btn btn-primary"></input> </a>
   {% else %}
   <a href="/unshare/{{post.id}}/">
     <input onclick="unshareToggle()" type="button" value="🚀 Shared" id="share-button" class="btn btn-primary"></input>
   </a>
   {% endif %}
           </div>
           {% if request.user == post.author%}
           <input class="btn btn-primary" type="button" value = "✎ Edit" id = "editButton" data = "{{post.id}}" url = "{% url 'edit_post' %}" type="{{post.categories}}"></input>
           <a href="{% url 'delete_post' post.id %}">
             <input class="btn btn-primary" type="button" value = "🗑 Delete" ></input>
           </a>
           {% endif %}
</div>

<br>
<br>
<div class="col-md-6">
  <div class='posts'>
    <form action="{% url 'view_post' post.id %} " method="post" name ='comment_form'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary" value="Create comment" id="submitbtn" onclick="submitForm()"/>
    </form>
    <br>
    {% if comments%}
      {% for comment in comments %}
        <p style="color:black; font-size:0.8em"> {{comment.author}} <br></p><p style="color:green; font-family:calibri; font-weight:lighter"> {{comment.comment}} </p>
            <small style="color:#add8e6; font-family:calibri; padding-right:45px" > Comment posted on {{comment.published}}</small>
            <hr>
        {% endfor %}
     {% else %}
        <p style="color:grey"> No Comments posted yet </p>
    {%endif%}
    </div>
</div>
</div>
</div>

<script type="text/javascript">

  function submitForm() {
   var frm = document.querySelector('id_comment');
   frm.value('');
}

</script>
{% endblock %}
