{% extends '../socialdist/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div id="particles-js"></div>
<div class="pretty-bg">

    <div class="hermes-na">Hermes</div>
  <div class='big-marker-na'></div>
  <div class="friendly-reminder reminder-na"> your friendly neighbourhood social network </div>
  <div class="signup login">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button_nav">
      <a href="{% url 'index' %}"><div class="return" style="margin-right:30px">Return</div></a>
    <button type="submit">Log In</button>

  </div>
  </form>

</div>
</div>


{% endblock %}
