{% extends 'socialdist/base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class='pretty-bg'>
  <div class="hermes-na">Hermes</div>
  <div class='big-marker-na'></div>
  <div class="friendly-reminder reminder-na"> your friendly neighbourhood social network </div>

  <div class="signup">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
    <div class="return"><a href="{% url 'index' %}">Return</a></div>

  </form>

</div>

</div>
{% endblock %}
