*
{
  font-family: 'gotham-bold';
}


.signup{
  margin-top: 3%;
  width: 100%;
  height: auto;
  color:white;
}

.signup a {
    text-decoration: none;
    color: black;
}
.signup a:hover{
  text-decoration: none;
  color: black;

}
.signup p{
  text-align: center;
  margin-top: 2%;
  color:white;
}

.signup label{
  padding-right: 5%;
  text-align: left;
  color:white;
}



.signup input{
  border: none;
  border-bottom: 5px solid rgba(255,255,255,0.6);
  border-radius:5px;
  background-color: transparent;
  font-family: 'gotham-light','times';
  outline: none;
}
.signup input::selection{
  outline:none;
}
.signup li
{
  margin-left: 35%;
  font-size: 13px;
  margin-top: 1%;
  font-family: 'gotham-light';
}

.signup .helptext
{
  display: none;
}

.signup button{
  width:250px;
  padding-top:10px;
  padding-bottom: 10px;
  border: 1px white solid;
  border-radius: 50px;
  text-align: center;
  font-size: 28px;
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.signup button:hover{
  background-color: white;
  color:black;
}

.signup #id_password2
{
  margin-left: -1%;
}

.login{
  margin-top: 5%;
}
.button_nav{
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}
.return{
    width:250px;
    margin-left: 25px;
    margin-top: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px white solid;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.return:hover{
  background-color: grey;
}
